body {
  color: red;
}

@font-face {
  font-family: "Poppins Regular", Arial, sans-serif;
  src: local(Poppins Regular), url(Poppins-Regular.ttf);
}

#fundo2 {
  position: absolute;
  left: 0rem;
  top: 0rem;
  height: 63rem;
  width: 118, 5rem;
}

#fundo {
  height: 100%;
  width: 100%;
}

#fundo3 {
  position: absolute;
  left: 7rem;
  top: 8rem;
  height: 43rem;
  width: 102rem;
}

#Logo {
  position: absolute;
  width: 179px;
  height: 80px;
  left: 74px;
  top: 45px;
}

#Logo:hover {
  cursor: pointer;
}

#RetanContat {
  box-sizing: border-box;
  position: absolute;
  width: 138px;
  height: 40px;
  left: 1750px;
  top: 60px;
  border: 2px solid #f3572a;
  border-radius: 5px;
}

#RetanContat:hover {
  cursor: pointer;
}

#TxtContact {
  position: absolute;
  width: 138px;
  height: 40px;
  left: 1784px;
  top: 69px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

#TxtContact:hover {
  cursor: pointer;
}

#TxtCentral {
  position: absolute;
  width: 326px;
  height: 30px;
  left: 750px;
  top: 440px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  white-space: nowrap;
  color: #ffffff;
}

#TxtCentral2 {
  position: absolute;
  width: 701px;
  height: 30px;
  left: 540px;
  top: 490px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  white-space: nowrap;
}

.destaque {
  color: #f3572a;
}

.Cadastro {
  background-color: #f3572a;
  color: #fff;
  padding: 10px 20px;
  border: 4px solid #f3572a;
  border-radius: 4px;
  width: 138px;
  height: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  position: absolute;
  top: 545px;
  left: 950px;
}

.Cadastro:hover {
  cursor: pointer;
}

.Cadastro:hover,
.Cadastro:focus {
  background-color: transparent;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
}

.cursor-up-down {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: #f3572a;
  border-radius: 50%;
  cursor: pointer;
  animation: cursorUpDown 1s infinite alternate;
}

@keyframes cursorUpDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10px);
  }
}

#Scroll {
  position: absolute;
  width: 5px;
  height: 120px;
  left: 935px;
  top: 700px;
  background: url(final-goal-scroll.png);
}

#TxtScroll {
  position: absolute;
  width: 107px;
  height: 20px;
  left: 880px;
  top: 840px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  color: #ffffff;
}

#rectangle {
  position: absolute;
  left: 0spx;
  top: 730px;
  background: #050a12;
  border: 80px solid #050a12;
}

#TxtSobre {
  position: absolute;
  width: 139px;
  height: 42px;
  left: 90px;
  top: 1120px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  color: #ffffff;
}

#TxtGrande {
  position: absolute;
  width: 656px;
  height: 360px;
  left: 90px;
  top: 1210px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 30px;
  color: #ffffff;
  white-space: nowrap;
}

#JogadorImg {
  position: absolute;
  width: 640px;
  height: 751px;
  left: 1164px;
  top: 1103px;
  background: url(final-goal-about-us-imag3.jpg);
}

#JogadorVol {
  position: absolute;
  width: 550px;
  height: 370px;
  left: 300px;
  top: 1600px;
  background: url(final-goal-about-us-imag1.jpg);
}

#Sombra {
  position: absolute;
  width: 437px;
  height: 159px;
  left: 330px;
  top: 1920px;
  background: url(final-goal-about-us-imag2.jpg);
}

.meu-botao3 {
  background-color: transparent;
  color: #fff;
  padding: 30px 20px;
  border: 2px solid #f3572a;
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1px;
  position: absolute;
  width: 138px;
  height: 40px;
  left: 100px;
  top: 1570px;
}

.meu-botao3:hover {
  cursor: pointer;
}

.meu-botao3:hover,
.meu-botao3:focus {
  background-color: #f3572a;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1px;
}

#TxtPro {
  color: #fff;
  font-size: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
  text-align: center;
  letter-spacing: 2.56px;
  left: 800px;
  top: 2200px;
  position: absolute;
}

#TxtPro2 {
  color: #fff;
  font-size: 32px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  line-height: normal;
  left: 750px;
  top: 2220px;
  position: absolute;
}

.Color {
  color: #f3572a;
}

.container {
  display: flex;
  justify-content: space-between;
}

:root {
  --light-gray: #b0bec5;
  --gray: #37474f;
  --primary: #651fff;
}

\\ Aqui começa os cards

.wrapper {
  width: 100vw;
  margin: 0 auto;
  height: 400px;
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}

@media screen and (max-width: 767px) {
  .wrapper {
    height: 700px;
  }
}

.content {
  max-width: 1024px;
  width: 100%;
  padding: 0 2%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 767px) {
  .content {
    padding-top: 300px;
    flex-direction: column;
  }
}

.card {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 250px;
  margin: 50px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 80px;
  background: linear-gradient(90deg, #FF7E7E 0%, #FF4848 40%, rgba(0, 0, 0, 0.28) 60%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.card .title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card .text {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}

.card:hover {
  height: 270px;
}

.card:hover .info {
  height: 90%;
}

.card:hover .text {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
}

.card:hover .icon {
  background-position: -120px;
  transition: all 0.3s ease;
}

.card:hover .icon i {
  background: linear-gradient(90deg, #FF7E7E, #FF4848);
  -webkit-text-fill-color: transparent;
  opacity: 1;
  transition: all 0.3s ease;
}

span
{
  color: #f3572a;
}
.Patrocinador {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 30px;
  color: #ffffff;
  padding: 8rem;
}



.social-buttons2 {
  display: flex;
  justify-content: center; /* Centralizar horizontalmente */
  align-items: center; /* Centralizar verticalmente */
  justify-content: center; 
  height: 100vh; 
  position: absolute;
  top : 3100px;
  left : 850px;
  margin: 0 10px; /* Espaço horizontal entre os ícones */


}
.retagulo55 {
  background-color: #050a12;
  width: 1903px; /* Largura inicial */
  height: 400px; /* Altura inicial */
  position: absolute; /* Posição absoluta para usar left ou right */
  top: 3670px;
  left: 0px;
}
.retagulo56 {
  background-color:#f3572a;
  width: 1903px; /* Largura inicial */
  height: 1px; /* Altura inicial */
  position: absolute; /* Posição absoluta para usar left ou right */
  top: 3800px;
  left: 0px;
}
.TxtPrivacy { 
color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 300;
top: 3830px;
position: absolute;
line-height: normal;
text-decoration-line: underline;
}

.TxtPrivacy2 { 
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  top: 3830px;
  left: 1440px;
  position: absolute;
  line-height: normal;
  text-decoration-line: underline;
  }
  .TxtPrivacy3 { 
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    top: 3830px;
    left: 1600px;
    position: absolute;
    line-height: normal;
    text-decoration-line: underline;
    }

